<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  	       					http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security secured-annotations="enabled"></global-method-security>

	<context:component-scan base-package="com.nisum.employee.ref" />
	<context:component-scan base-package="com.nisum.employee.ref.util" />
	<http auto-config='true'>
		<intercept-url pattern='/resources/api-docs/**' access='IS_AUTHENTICATED_ANONYMOUSLY' />

		<intercept-url pattern='/login.html' access='IS_AUTHENTICATED_ANONYMOUSLY' />
		<intercept-url pattern="/loginfailure.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<access-denied-handler error-page="/accessdenied.html" />

		<intercept-url pattern='/resources/log.html' access='IS_AUTHENTICATED_ANONYMOUSLY' />
		<intercept-url pattern='/index.html' access='IS_AUTHENTICATED_ANONYMOUSLY' />
		<intercept-url pattern='/resources/features' access='IS_AUTHENTICATED_ANONYMOUSLY' />

		<intercept-url pattern='/js/**' access='IS_AUTHENTICATED_ANONYMOUSLY' />
		<intercept-url pattern='/lib/**' access='IS_AUTHENTICATED_ANONYMOUSLY' />
		<intercept-url pattern='/static/**' access='IS_AUTHENTICATED_ANONYMOUSLY' />
		<intercept-url pattern='/views/**' access='IS_AUTHENTICATED_ANONYMOUSLY' />
		<intercept-url pattern='/**'
			access='ROLE_USER,ROLE_HR,ROLE_ADMIN,ROLE_MANAGER,ROLE_INTERVIEWER,ROLE_REQUISITION_MANAGER,ROLE_REQUISITION_APPROVER' />
		<form-login login-page='/login.html' default-target-url='/main.html'
			always-use-default-target='false' authentication-failure-url="/loginFailure.html" />


		<logout logout-success-url="/login.html" delete-cookies="JSESSIONID"
			invalidate-session="true" />
	</http>
	<beans:bean id="SecurityProvider"
		class="com.nisum.employee.ref.security.SecurityProvider">
	</beans:bean>
	
	<beans:bean id="customAuthenticationProvider"
		class="com.nisum.employee.ref.security.authentication.CustomAuthenticationProvider">
	</beans:bean>
	

	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider" />
		<authentication-provider ref="SecurityProvider" />
	</authentication-manager>

	<beans:bean id="adAuthenticationProvider"
		class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
		<beans:constructor-arg value="osius.com" />
		<beans:constructor-arg value="ldap://192.168.32.22:389" />
		<beans:property name="convertSubErrorCodesToExceptions"
			value="true" />
		<beans:property name="useAuthenticationRequestCredentials"
			value="true" />
		<beans:property name="userDetailsContextMapper" ref="userDetailsContextMapper" />
	</beans:bean>

	<beans:bean id="userDetailsContextMapper"
		class="com.nisum.employee.ref.security.authorization.UserDetailsContextMapperImpl" />


	<beans:bean id="exceptionStatusCodeMappingBean"
		class="com.nisum.employee.ref.util.SecurityExceptionResponseErrorCodeMappingBean">
	</beans:bean>

</beans:beans>